.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    z-index: 1000;
}

.title {
    color: #11aff6 !important;
}

.labelBar {
    width: 100%;
    background-color: #003d4c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
