.tableColor td, .tableColor th {
    background-color: #1e1e1e !important;
    color: white !important;
    border-style: none !important;
}
.tableColor {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

#typeFilter,
#belongsToFilter,
#resultsFilter {
    background-color: #1e1e1e !important;
    color: white !important;
}

button {
    height: 34px;
}