.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: #11aff6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.labelBar {
    width: 100%;
    background-color: #003d4c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
