.navbar {
    height: 100%;
    overflow-y: auto;
}
.offcanvas {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.offcanvas.offcanvas-end {
    background-color: #1e1e1e;
    position: static !important;
    transform: none !important;
    visibility: visible !important;
    border: none !important;
    width: 250px;
}
.navbar-toggler {
    display: none;
}

a {
    color: white !important;
}
h1 {
    color: white !important;
}