#tableAccessLevels {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}
#tableAccessLevels td, #tableAccessLevels th {
    background-color: #1e1e1e;
    color: white;
    border-style: none;
}

#typeFilter,
#belongsToFilter,
#resultsFilter {
    background-color: #1e1e1e;
    color: white;
    height: 40px;
}

button {
    height: 35px;
}